header.header
    .header__content
        .header__left
            a.logo(href="/")
                img(src="img/logo.svg", alt="alt")
        .header__right
            a(href="", target="_blank")
                | Каталог
                i.icon_link

            a(href="", target="_blank") связаться
